@tailwind base;
@tailwind components;
@tailwind utilities;

@import './core/mixins';
@import './core/variables';

@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    @apply w-full max-w-[var(--max-w-page)] ml-auto mr-auto text-white bg-[var(--bg-header-cl)] text-base;
  }

  .layout-container {
    width: 100%;
    max-width: var(--w-layout-container);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--p-layout-container);
    padding-right: var(--p-layout-container);
  }

  input,
  button {
    outline: none;
  }
}

@layer components {
  .form-control:first-child {
    margin-top: initial;
  }

  .form-control + .form-control {
    margin-top: 26px;
  }
}
